<!DOCTYPE html>
<html>
<head>

    <title>AI OTA System</title>

    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container text-center mt-5">

    <h1 class="mb-5 text-primary">
        Welcome To Travel
    </h1>

    <a href="/register" class="btn btn-success btn-lg">
        Register
    </a>

    <br><br>

    <a href="/login" class="btn btn-primary btn-lg">
        Login
    </a>

    <br><br>

<a href="/admin">Admin</a>

</div>

</body>
</html>